$header-height: 4rem;
$content-margin-top: 3rem;

header {
	@apply flex justify-center sticky top-0 backdrop-filter backdrop-blur-lg border-b border-gray-200;
	height: $header-height;

	.icon-button {
		@apply p-2 w-10 h-10 rounded-full hover:bg-gray-100;
	}
}

.content {
	@apply flex;

	aside {
		top: $header-height;
		width: 18rem;

		&.open {
			@apply w-full block;
		}

		nav {

			a {
				@apply flex items-center text-gray-500;

				&:not(:first-child) {
					margin-top: 1rem;
				}

				&.active {
					@apply text-gray-900;
				}
			}
		}
	}

	main {
		@apply flex-1 pt-12 min-w-0;
		padding-left: 1.5rem;
		padding-right: 1.5rem;

		@media screen and (min-width: 1024px) {			
			padding-left: 18rem;
		}
	}
}
