<div class="flex flex-col min-h-screen prose">
    <header class="backdrop-filter backdrop-blur-lg border-b border-gray-200">
        <div class="container">
            <a (click)="closeMenuAndNavigate('/')">
                <img src="../assets/ng-snippets-logo.svg" class="logo" alt="Ng Snippets logo">
                <span>Angular Snippets</span>
            </a>

            <div class="flex">
                <a href="https://github.com/ertunga/ng-snippets" class="px-2" target="_blank">
                    <img src="./assets/github-logo.svg" alt="Github logo" class="w-6 h-6">
                </a>

                <button (click)="toggleMenu()" class="menu-button">
                    x or menu icon
                </button>
            </div>
        </div>
    </header>

    <div class="content container flex-1">
        <div class="sidebar">
            <div class="nav-wrapper">
                <nav>
                    <a *ngFor="let snippet of snippets" [routerLink]="'/snippet/' + snippet">{{snippet}}</a>
                    <!-- <a *ngFor="let snippet of snippet" [routerLink]="snippet.route" routerLinkActive="active">
						<span [style.background]="getCategoryStyles(snippet.category)"
                              style="display: inline-block; width: 2rem; height: 2rem; margin-right: .75rem; border-radius: 100%;">
						</span>
                        <span>{{snippet.title}}</span>
                    </a> -->
                </nav>
            </div>
        </div>

        <main>
            <router-outlet></router-outlet>
        </main>
    </div>

    <footer class="container flex justify-end mt-8 pt-8 pb-16 border-t border-gray-200">
        <div class="flex items-center text-sm text-gray-400">
            <span>Created with</span>
            <span class="text-2xl mx-1">☕️</span>
            <span>and</span>
            <img src="./assets/angular-logo.svg" class="w-6" title="Angular" alt="Angular logo">
        </div>
    </footer>
</div>
