$header-height: 4rem;
$content-margin-top: 3rem;

header {
	@apply flex justify-center sticky top-0 backdrop-filter backdrop-blur-lg border-b border-gray-200;
	height: $header-height;
	transition: box-shadow .2s ease-in;

	a {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 700;
		color: var(--text-color);

		.logo {
			@apply my-0;
			width: 2.5rem;
			margin-right: 0.75rem;
		}
	}

	.menu-button {
		width: 2.5rem;
		height: 2.5rem;
		padding: 0.5rem;
		display: none;
		border-radius: .5rem;
		cursor: pointer;

		@media screen and (max-width: 1024px) {
			display: block;
		}

		&:hover {
			background-color: var(--border-color);
		}

		&:focus {
			box-shadow: 0 0 0 3px var(--primary);
		}
	}
}

.content {
	display: flex;
	margin-top: $content-margin-top;

	.sidebar {
		flex: 0 0 16rem;

		@media screen and (max-width: 1024px) {
			display: none;
		}

		.nav-wrapper {
			position: sticky;
			top: $content-margin-top + $header-height;

			nav {

				a {
					display: flex;
					align-items: center;

					&:not(:first-child) {
						margin-top: 1rem;
					}

					&.active {
						color: var(--text-color);
						font-weight: 500;
					}
				}
			}
		}
	}

	main {
		flex: 1 1 0;
		width: 80%;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: 1024px) {
			width: 90%;
		}
	}
}

.mobile-menu {
	position: fixed;
	left: 0;
	top: $header-height;
	bottom: 0;
	right: 0;
	background-color: white;
	overflow-y: scroll;

	.nav-wrapper {
		margin-top: $content-margin-top;
		margin-bottom: $content-margin-top;

		nav {

			a {
				display: flex;
				align-items: center;

				&:not(:first-child) {
					margin-top: 1rem;
				}

				&.active {
					color: var(--text-color);
					font-weight: 500;
				}
			}
		}
	}
}
