<main>
    <section>
        <h2>Counter Service</h2>

        <p>Count: {{ counterService.count }}</p>

        <button (click)="counterService.increase()">Increase by 1</button>
        <button (click)="counterService.increase(7)">Increase by 7</button>
        <button (click)="counterService.decrease()">Decrease by 1</button>
        <button (click)="counterService.decrease(7)">Decrease by 7</button>
        <button (click)="counterService.count = 100">Set to 100</button>
        <button (click)="counterService.reset()">Reset</button>
    </section>

    <section>
        <h2>Join Pipe</h2>

        <p>{{ ['item1', 'item2', 'item3'] | join }}</p>
        <p>{{ ['item1', 'item2', 'item3'] | join: '-' }}</p>
        <p>{{ ['item1', 'item2', 'item3'] | join: '/' }}</p>
        <p>{{ ['item1', 'item2', 'item3'] | join: ' > ' }}</p>
    </section>

    <section>
        <h2>Truncate Pipe</h2>

        <p>{{ 'Text to be truncated' | truncate: 17 }}</p>
        <p>{{ 'Different suffix' | truncate: 14:'__' }}</p>
        <p>{{ 'Short text' | truncate: 12 }}</p>
    </section>

    <section>
        <h2>Truncate Words Pipe</h2>

        <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' | truncateWords: 4 }}</p>
        <p>
            {{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod' | truncateWords: 7:'-' }}
        </p>
        <p>{{ 'Lorem ipsum dolor sit amet' | truncateWords: 15 }}</p>
    </section>

    <section>
        <h2>Click Outside Directive</h2>

        <div (clickOutside)="handleClickOutside($event)" class="box">Click outside and open console</div>
    </section>

    <section>
        <h2>Fallback Src Directive</h2>

        <img src="http://broken-link-that-doesnt-work" fallbackSrc="./assets/placeholder-avatar.png" alt="" />
        <img src="http://broken-link-that-doesnt-work" fallbackSrc="https://via.placeholder.com/200x200" alt="" />
        <img src="https://picsum.photos/id/237/200/300" fallbackSrc="https://via.placeholder.com/200x200" alt="" />
    </section>

    <section>
        <h2>Theme Service</h2>

        <p>Current theme: {{ themeService.activeTheme$ | async }}</p>
        <button (click)="themeService.set('light')">Light</button>
        <button (click)="themeService.set('dark')">Dark</button>
    </section>
</main>
