<main>
    <section>
        <h2>Counter Service</h2>

        <p>Count: {{ counterService.count }}</p>

        <button (click)="counterService.increase()">Increase by 1</button>
        <button (click)="counterService.increase(7)">Increase by 7</button>
        <button (click)="counterService.decrease()">Decrease by 1</button>
        <button (click)="counterService.decrease(7)">Decrease by 7</button>
        <button (click)="counterService.count = 100">Set to 100</button>
        <button (click)="counterService.reset()">Reset</button>
    </section>

    <section>
        <h2>Join Pipe</h2>

        <p>{{ ['item1', 'item2', 'item3'] | join }}</p>
        <p>{{ ['item1', 'item2', 'item3'] | join: '-' }}</p>
        <p>{{ ['item1', 'item2', 'item3'] | join: '/' }}</p>
        <p>{{ ['item1', 'item2', 'item3'] | join: ' > ' }}</p>
    </section>

    <section>
        <h2>Truncate Pipe</h2>

        <p>{{ 'Text to be truncated' | truncate: 17 }}</p>
        <p>{{ 'Different suffix' | truncate: 14:'__' }}</p>
        <p>{{ 'Short text' | truncate: 12 }}</p>
    </section>

    <section>
        <h2>Truncate Words Pipe</h2>

        <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' | truncateWords: 5 }}</p>
        <p>
            {{
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
                    | truncateWords: 7:'-'
            }}
        </p>
        <p>{{ 'Lorem ipsum dolor sit amet' | truncateWords: 12 }}</p>
    </section>

    <section>
        <h2>Click Outside Directive</h2>

        <div (clickOutside)="handleClickOutside($event)" class="box">Click outside and open console</div>
    </section>
</main>
