body {
    margin: 1rem;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    color: var(--color);
    background-color: var(--background-color-1);
}

.light-theme {
    --primary: #38bdf8;
    --accent: #f472b6;
    --background-color-1: #fff;
    --background-color-2: #f3f4f5;
    --color: #0f172a;
}

.dark-theme {
    --primary: #38bdf8;
    --accent: #5b21b6;
    --background-color-1: #0f172a;
    --background-color-2: #334155;
    --color: #fff;
}
