body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

.prose {
    max-width: unset;

    a {
        @apply no-underline cursor-pointer;
    }

    article a {
        @apply text-blue-600 underline decoration-inherit underline-offset-2 hover:text-gray-900;
    }

    pre {
        @apply mb-12 mt-0 mx-0 rounded-lg shadow-lg text-base;

        @media screen and (max-width: 1024px) {
            @apply text-sm;
        }
    }

    ngs-code-block-with-header pre {
        @apply rounded-t-none;
    }

    p > code {
        font-size: inherit;
        font-weight: 600;
    }
}
