body {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.prose {
	max-width: unset;

	a {
		@apply no-underline cursor-pointer;
	}

	pre {
		@apply mb-12 mt-0 mx-0 rounded-t-none rounded-b-lg shadow-lg text-base;

		@media screen and (max-width: 1024px) {
			@apply text-sm;
		}
	}

	p > code {
		font-size: inherit;
		font-weight: 600;
	}
}
