<h1>Angular Snippets</h1>
<p>
    A collection of essential Angular services, directives, pipes and other tools to prototype and develop quickly. Easily install into your
    project. Jump right into it by selecting a snippet from the menu.
</p>

<h2>Installation</h2>
<pre><code>npm i ng-snippets</code></pre>

<h2>Latest additions</h2>
<div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
    <a *ngFor="let snippet of snippets" [routerLink]="'/snippet/' + snippet.slug" class="card flex-col">
        <h3>{{ snippet.title }}</h3>
        <!-- <p class="text-gray-700">snippet category here</p> -->
        <!-- Arrow right icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
    </a>
</div>

<h2>Source</h2>
<div class="grid sm:grid-cols-2 grid-cols-1 gap-4">
    <a href="https://github.com/ertunga/ng-snippets" target="_blank" class="card items-center justify-between">
        <div class="flex items-center">
            <img src="../../../assets/github-logo.svg" alt="GitHub logo" class="w-10 h-10 m-0 mr-6" />
            <span>Open GitHub</span>
        </div>

        <!-- External link icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
            />
        </svg>
    </a>
</div>
